# ON BOARD CLOCK WITH 50 MHz

NET clk50MHz LOC = B8; 

# BARCODE LEDS

NET LED_BAR<5> LOC = P15; # LD5		
NET LED_BAR<4> LOC = E17; # LD4
NET LED_BAR<3> LOC = K14; # LD3

NET LED_BAR<2> LOC = K15; # LD2
NET LED_BAR<1> LOC = J15; # LD1
NET LED_BAR<0> LOC = J14; # LD0
 
# STATUS LED

NET Done LOC = R4;# LD7
 
# DIP SWITCHES

NET OP<1> LOC = R17; # SW7
NET OP<0> LOC = N17; # SW6

NET in1<2> LOC = L13; # SW5
NET in1<1> LOC = L14; # SW4
NET in1<0> LOC = K17; # SW3

NET in2<2> LOC = K18; # SW2
NET in2<1> LOC = H18; # SW1
NET in2<0> LOC = G18; # SW0

# 7 SEGMENT DISPLAYS

NET LEDOUT<0> LOC = D16;# D
NET LEDOUT<1> LOC = D17;# C
NET LEDOUT<2> LOC = G14;# E
NET LEDOUT<3> LOC = H14;# G
NET LEDOUT<4> LOC = F18;# B
NET LEDOUT<5> LOC = J17;# F
NET LEDOUT<6> LOC = L18;# A
NET LEDOUT<7> LOC = C17;# DP

# ANODES

NET LEDSEL<0> LOC = F15;# AN3
NET LEDSEL<1> LOC = C18;# AN2
NET LEDSEL<2> LOC = H17;# AN1
NET LEDSEL<3> LOC = F17;# AN0

# Buttons for Clock And Reset

NET clk LOC = H13; # CLOCK , BTN3
NET rst LOC = D18; # RESET , BTN1
NET GO  LOC = B18; # GO , BTN0


